
html,
body {
  height: 100%;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  
}

body {  overflow-x: hidden;}

.fromBottom {
    opacity: 0%;
}

.fromRight {
    opacity: 0%;
}

a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: white;
  transition: opacity 0.125s linear;
}
a:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.125s linear;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
.first-container {
  background: url(wallpaper.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-container {
  height: 58px;
  width: 100%;
  position: fixed;
  color: white;
  letter-spacing: 0.025em;
  transition: background-color 0.2s linear;
  z-index:1;
}
.nav-container.solid-nav {
  background-color: rgb(5, 5, 5);
  transition: background-color 0.2s linear;
}
.nav-container .nav-row {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 18px;
}
.nav-container .nav-row .nav-logo {
  display: inline-block;
  font-weight: 900;
}
.nav-container .nav-row .nav-controls {
  float: right;
}
.nav-container .nav-row .nav-controls a {
  padding-left: 20px;
}
.container {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  max-width: 1200px;
  margin: 0 auto;
}

  [data-inviewport="scale-in"] { 
    transition: 2s;
    transform: scale(0.1);
  }
  [data-inviewport="scale-in"].is-inViewport { 
    transform: scale(1);
  }
  
  [data-inviewport="fade-rotate"] { 
    transition: 2s;
    opacity: 0;
  }

  [data-inviewport="fade-rotate"].is-inViewport { 
    transform: rotate(180deg);
    opacity: 1;
  }

  [data-inviewport="slide-in"] { 
    transition: 4s;
    transform: translate(0,100px);
    opacity: 0;
  }
  [data-inviewport="slide-in"].is-inViewport { 
    transform: translate(0px,0px);
    opacity: 1;
  }